<!DOCTYPE html>
<html>
<head>
	<title>test</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-sm-3">
				<h3>Column 1</h3>
			</div>
			<div class="col-sm-3">
				<h3>Column 2</h3>
				<p>最近闲的无事，晒晒自己读过的射频微波类书吧
				希望对大家有点帮助：
				1.《射频电路设计--理论与应用》 『美』 Reinhold Ludwig 著 电子工业出版社
				个人书评：射频经典著作，建议做RF的人手一本，里面内容比较全面，这本书要反复的看，每读一次都会更深一层理解.
				随便提一下，关于看射频书籍看不懂的地方怎么办？我提议先看枝干或结论有个大概印象，实在弄不明白就跳过（当然可问身边同事同学或GOOGLE一下），跳过不是不管它了，而是尽量先看完自己能看懂的，看第二遍的时候再重点抓第一次没有看懂的地方，人的思维是不断升华的，知识的也是一个系统体系，有关联的，当你把每一块砖弄明白了，就自然而然推测出金字塔塔顶是怎么架设出来的。
				2. 《射频通信电路设计》 『中』 刘长军 著 科学技术出版社
				个人书评：有拼凑之嫌（大量引用书1和《微波晶体管放大电路分析与设计》内容），但还是有可取之处，加上作者的理解，比看外文书（或者翻译本）看起来要通俗易懂，毕竟是中国人口韵。值得一看，书上有很多归纳性的经验.
				</p>
			</div>
			<div class="col-sm-3">
				<h3>Column 3</h3>
				<p>3．《高频电路设计与制作》 『日』 市川欲一 著 科学技术出版社
				个人书评：本人说实话比较喜欢日本人写书的风格和语言，及其通俗，配上图示，极其深奥的理论看起来明明朗朗，比那些从头到尾只会搬抄公式的某些教授强们多了，本书作者的实践之作，里面都是一些作者的设计作品和设计方法，推荐一看.
				4. 《LC滤波器设计与制作》 『日』 森荣二著 科学技术出版社
				个人书评：语言及其通俗易懂，完全没有深奥的理论在里面，入门者看看不错，但是设计方法感觉有点落后，完全手工计算.也感觉内容的太细致，此书一般.
				5. 《振荡电路设计与应用》 『日』 稻叶宝 著 科学技术出版社
				个人书评：这边书还不错，除了学到振荡电路设计，还学到了很多模拟电路的基础应用，唯一缺点书中的内容涉及频率的都不够高（k级，几M,几十，几百M的振荡器），做有源电路的可以看一下,整体感觉还行.
				6. 《锁相环电路设计与应用》 『日』 远坂俊昭 著 科学技术出版社
				个人书评：对PLL原理总是搞不太明白的同学可以参考此书，图形图片很多，让人很直观明白，比起其他PLL书只会千篇一律写公式强千倍。好书，值得收藏！</p>
			</div>
			<div class="col-sm-3">
				<h3>Column 4</h3>
			</div>
		</div>
	</div>
</body>
</html>